@charset "UTF-8";

body.homepage section.banner {
    position: relative;
    background-color: #000;
    width: 100%;
    display: inline-block;
    height: 85vh
}

@media (min-width:960px) {
    body.homepage section.banner {
        height: 100vh;
        min-height: 700px
    }
}

body.homepage section.banner .maxWidth {
    height: 100%;
    position: relative;
    z-index: 2
}

body.homepage section.banner .maxWidth .txt {
    position: absolute;
    z-index: 3;
    bottom: 0
}

body.homepage section.banner .maxWidth .txt .t50 {
    width: 190px
}

@media (max-width:959px) {
    body.homepage section.banner .maxWidth .txt .t50 {
        width: 100%
    }

    body.homepage section.banner .maxWidth .txt .t50 img {
        width: 100px;
        height: auto;
        margin-bottom: 25px
    }
}

body.homepage section.banner .maxWidth .txt .txt-loghi {
    width: 90%
}

@media (min-width:375px) {
    body.homepage section.banner .maxWidth .txt .txt-loghi {
        width: 300px
    }
}

@media (min-width:639px) {
    body.homepage section.banner .maxWidth .txt .txt-loghi {
        width: unset
    }
}

body.homepage section.banner .maxWidth .txt .txt-loghi h1 {
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0
}

body.homepage section.banner .maxWidth .txt .txt-loghi h1 img {
    display: block
}

body.homepage section.banner .maxWidth .txt .txt-loghi ul {
    border-top: 1px solid #fff;
    list-style: none;
    padding: 0;
    margin-bottom: 5vh
}

@media (min-width:960px) {
    body.homepage section.banner .maxWidth .txt .txt-loghi ul {
        margin-bottom: 70px
    }
}

body.homepage section.banner .maxWidth .txt .txt-loghi ul li {
    padding-top: 5px;
    display: inline-block;
    padding-right: 10px
}

@media (min-width:375px) {
    body.homepage section.banner .maxWidth .txt .txt-loghi ul li {
        padding-right: 27px
    }
}

@media (min-width:640px) {
    body.homepage section.banner .maxWidth .txt .txt-loghi ul li {
        padding-right: 37px;
        border: 0
    }
}

body.homepage section.banner .maxWidth .txt .txt-loghi ul li img {
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out
}

body.homepage section.banner .maxWidth .txt .txt-loghi ul li.euromobil img {
    width: 92px;
    height: auto
}

@media (min-width:640px) {
    body.homepage section.banner .maxWidth .txt .txt-loghi ul li.euromobil img {
        width: 123px
    }
}

body.homepage section.banner .maxWidth .txt .txt-loghi ul li.zalf img {
    width: 53px;
    height: auto
}

@media (min-width:640px) {
    body.homepage section.banner .maxWidth .txt .txt-loghi ul li.zalf img {
        width: 71px
    }
}

body.homepage section.banner .maxWidth .txt .txt-loghi ul li.desiree {
    padding-right: 0
}

body.homepage section.banner .maxWidth .txt .txt-loghi ul li.desiree img {
    width: 88px;
    height: auto;
    margin-top: 15px
}

@media (min-width:640px) {
    body.homepage section.banner .maxWidth .txt .txt-loghi ul li.desiree img {
        width: 119px
    }
}

body.homepage section.banner .maxWidth .txt .txt-loghi ul li a:hover img {
    opacity: 0.8
}

body.homepage section.banner .video {
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden
}

body.homepage section.banner .video video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

body.homepage section.text {
    padding: 8vh 0 5vh 0
}

@media (min-width:960px) {
    body.homepage section.text {
        padding: 12vh 0 5vh 0;
        min-height: 600px
    }
}

body.homepage section.text h2 {
    margin: 0 auto;
    text-align: left
}

@media (min-width:960px) {
    body.homepage section.text h2 {
        text-align: center;
        width: 80%;
        max-width: 1000px
    }
}

@media (min-width:960px) {
    body.homepage section.text h3 {
        text-align: center
    }
}

@media (min-width:960px) {
    body.homepage section.text #effect-title-wrapper #effect-items>* {
        margin: 0 auto
    }
}

body.homepage section.videoCorporate {
    padding: 30px 0 0 0
}

@media (min-width:640px) {
    body.homepage section.videoCorporate {
        padding: 50px 0
    }
}

@media (min-width:960px) {
    body.homepage section.videoCorporate {
        padding: 0 0 10vh 0
    }
}

body.homepage section.focus {
    background-color: #EBE9E6;
    padding: 10vh 0
}

body.homepage section.news {
    max-width: calc(100vw - 50px);
    margin: 0 auto 20px auto
}

@media (min-width:960px) {
    body.homepage section.news {
        border-top: 1px solid rgba(151, 151, 151, 0.2);
        max-width: unset;
        margin: 0 auto
    }
}

body.homepage section.news .item {
    border-top: 1px solid rgba(151, 151, 151, 0.5)
}

@media (min-width:960px) {
    body.homepage section.news .item {
        border-right: 1px solid rgba(151, 151, 151, 0.2);
        border-top: 0
    }
}

@media (max-width:960px) {
    body.homepage section.news .item:first-child {
        border-top: 0
    }
}

body.homepage section.news .item:last-child {
    border-right: 0
}

body.homepage section.news .item>a {
    display: inline-block
}

@media (min-width:960px) {
    body.homepage section.news .item>a>div {
        max-width: 400px;
        min-height: 240px
    }

    body.homepage section.news .item>a>div .title {
        line-height: 120%
    }
}

@media (min-width:1200px) {
    body.homepage section.news .item>a>div .title {
        font-size: 20px
    }
}

body.homepage section.news .item>a:hover {
    opacity: 0.8
}

body.scrolling span.rigo {
    opacity: 0
}

/*# sourceMappingURL=homepage.css.map */